@import 'grid.scss';
@import 'table.scss';

@import '../../components/home/home.scss';
@import '../../components/home/users/users.scss';

@import '../../components/header/header.scss';

@import '../../components/login/login.scss';

$primary: #659c35;

body{
    margin:0px;
    background-color:#F9F9F9;
    font-family: 'Lato', serif;
    color:#4b4b4b
}

a {
    text-decoration: none;
    color: #4b4b4b;
}

.center{
    text-align: center;
}
