@import 'grid.scss';
@import 'table.scss';

@import '../../components/home/home.scss';
@import '../../components/home/users/users.scss';

@import '../../components/header/header.scss';

@import '../../components/login/login.scss';

$primary: #659c35;

body{
    margin:0px;
    background-color:#F9F9F9;
    font-family: 'Lato', serif;
    color:#4b4b4b
}

.center{
    text-align: center;
}

.button {
    background-color: white;
    border: solid 1px #fc0a38;
    color: #fc0a38;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 3px;
    cursor: pointer;
}

.panel {
    background-color:white;
    border-radius:3px;
    min-height:400px;
    margin-top:20px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.08),0 2px 10px 0 rgba(0,0,0,0.12);

}