<div class="wrapper-full">
    <div class="box">
        <div class="cell-12 users-section fill-window">
            <div class="wrapper" ng-hide="users.busy">
                <h3 class="center users-title">Click a user below to send them money</h3>  
                <div  class="tbl-header">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <thead>
                            <tr>
                                <th width="85%">Name</th>
                                <th width="15%">Balance</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div  class="tbl-content">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                            <tr ng-repeat="user in users.users">
                                <td width="85%"  ng-click="users.sendMoney(user.firstname, user.userid, main.balance)">{{user.firstname}} {{user.lastname}}</td>
                                <td width="15%"><b>${{user.balance}}</b></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div ng-show="users.busy" class="center busy">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            </div>
        </div>
    </div>
</div>