@import url(https://fonts.googleapis.com/css?family=Lato);

.greeting{
    font-family: 'Lato', sans-serif;
    font-size:32pt;
    padding: 40px 0px 0px 0px;
    margin-bottom: 0px;  
}

.sub-greeting{
    font-family: 'Lato', sans-serif;
    font-size:16pt;
    margin-top: 5px;
    margin-bottom: 40px;
}
