<div class="wrapper">

    <div class="box">
        <div class="cell-12">
            <h1 class="profile-title">My Profile</h1>
        </div>
    </div>
    <div class="clear"></div>

    <div class="box">
        <div class="cell-4">
            <h2>Name</h2>
            {{main.user.firstname}} {{main.user.lastname}}
        </div>
        <div class="cell-4">
            <h2>Email</h2>
            {{main.user.email}}
        </div>
        <div class="cell-4">
            <h2>Balance</h2>
            ${{main.user.balance}}
        </div>
    </div>
    <div class="clear"></div>

</div>