@import url(https://fonts.googleapis.com/css?family=Playfair+Display:700);

.logo{
    font-family: 'Lato', serif;
    font-size: 19pt;
    color: #659c35;
}

.logo-img{
    width:20px;
}

.profile-menu{
    margin-top:7px;
    float:right;
}

.header{
    background-color: white;
    padding:20px 0px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.08),0 2px 10px 0 rgba(0,0,0,0.12);
}